<% provide(:title, "パスワードをお忘れですか？") %>

<div data-scope-path="password_resets/new">
  <div class="text-wrapper">
    <h1>パスワードをお忘れですか？</h1>
    <p>以下のフォームにご登録頂いていたメールアドレスを入力してください。<br>すぐにパスワード再設定のご案内メールを送信いたします。</p>
  </div>

  <%= form_with scope: :password_reset, url: password_resets_path, local: true do |f| %>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control" %>
  </div>
  <%= f.submit class: "btn btn-primary " %>
  <% end %>
</div>