[data-scope-path="layouts/header"] {
  background-color: $main-color;
  nav {
    width: 100%;
    .navbar-brand {
      font-size: 3rem;
    }
  }
  .introduction {
    padding-bottom: 1.5rem;
    .title-col {
      img {
        height: 60%;
        width: 60%;
      }
    }
  }
}