[data-scope-path="password_resets/edit"] {
  h1 {
    font-size: 2rem;
    text-align: center;
    margin: 3rem 0;
  }
  form {
    input {
      font-size: 1.5rem;
      &.btn {
        margin-bottom: 1rem;
      }
    }
    .form-group {
      margin: 3rem 0;
    }
  }
}