[data-scope-path="home/useful_pages"] {
  .card {
    margin-top: 30px;
    .round-cap:after {
      @include under_bar;
    }
    .card-body {
      margin-bottom: 30px;
    }
  }
  .menu {
    margin-top: 30px;
    border-radius: 5px;
    background-color: #dadada;
    box-shadow: 5px 5px 10px silver;
    padding: 1rem 0;
    h2 {
      text-align: center;
    }
    li {
      padding: 0.5em 0;
      a {
        text-decoration: none;
        color: $black;
        &:hover {
          color: $now-selected-orange;
        }
      }
    }
  }
}