[data-scope-path="home/useful_pages"] {
  .card {
    margin-top: 30px;
    .round-cap:after {
    background-color: lightgreen;
    border-radius: 5px;
    content: "";
    display: block;
    height: 7px;
    margin-bottom: 20px;
    }
  }
}