<% provide(:title, t(".暮らしに役立つサイト")) %>

<div data-scope-path="home/useful_pages">
  <ol>
    <li><%= link_to(t(".外国人技能実習機構"), "#section1") %></li>
    <li>リスト2</li>
    <li>リスト3</li>
  </ol>
  <div class="card border border-0 mx-auto">
    <h4 class="card-title" id="section1"><%= t(".外国人技能実習機構") %></h4>
    <div class="round-cap"></div>
    <%= image_tag("otit.png", class: "card-img") %>
    <div class="card-body">
      <a href="https://www.otit.go.jp/notebook_vi/" class="card-link">https://www.otit.go.jp/notebook_vi/</a>
      <p class="card-text"><%= t(".技能実習生手帳や税金の免除について掲載されています。身近なトラブルも相談することができます。") %>
      </p>
    </div>
  </div>
</div>