<% provide(:title, t(".post_titleの編集", post_title: @post.title)) %>
<div data-scope-path="posts/edit">
	<div class="row justify-content-center">
		<div class="col-md-8">
			<h1><%= t(".投稿を編集する") %></h1>
			<%= render "shared/post_form" %>
		</div>
	</div>
</div>
