<% provide(:title) %>

<h1>Website under construction</h1>
    <% @posts.each do |post| %>
        <div>
        <%= post.created_at %>
        <%= link_to post.content, post_path(post) %>
        </div>
    <% end %>
<div>
    <%= link_to "Bài", new_post_path %>
    <%= link_to "Đăng ký thành viên", user_create_path %>
</div>