<% provide(:title, t(".掲示板作成")) %>

<div data-scope-path="posts/new">
	<div class="row justify-content-center">
		<div class="col-md-8">
			<h1><%= t(".投稿画面") %></h1>
			<%= render "shared/post_form" %>
			<p><%= t(".※不正な編集防止のため、投稿後10分以内であれば修正が可能です") %></p>
		</div>
	</div>
</div>