<% provide(:title, t(".掲示板作成")) %>

<div data-scope-path="posts/new">
	<%= render "shared/error_messages", object: @post %>
	<%= form_with model: @post do |f| %>
	<div class="form-group">
		<%= f.label :title %>
		<%= f.text_field :title, class: "form-control" %>
	</div>
	<% end %>
</div>