[data-scope-path="posts/index"] {
  form {
    margin-top: 1.5rem;
    .btn.btn-secondary {
      margin-left: 0.5rem;
    }
  }
  .card {
    margin-bottom: 1rem;
    width: 40rem;
    height: 5rem;
    box-shadow: 0px 1px 0px silver;
    .card-body {
      height: 5rem;
      .card-text {
        color: gray;
        text-align: right;
      }
    }
    .card-img {
      height: 5rem;
    }
  }
}