[data-scope-path="posts/new"] {
  h1 {
    text-align: center;
    margin: 3rem 0;
  }
  p {
    text-decoration:underline;
  }
  form {
    input {
      font-size: 1.5rem;
      &.btn {
        margin-bottom: 1rem;
      }
    }
    .form-group {
      margin: 3rem 0;
      textarea {
        height: 15rem;
        font-size: 1.5rem;
      }
      &.file-field {
        margin-top: -2rem;
        label.image-icon {
          cursor: pointer;
          font-size: 1.2rem;
          input.selected-file {
            display: none;
          }
        }
      }
    }
  }
}