[data-scope-path="posts/new"] {
  h1 {
    text-align: center;
    margin: 1rem 0;
  }
  form {
    .form-group {
      textarea {
        height: 15rem;
      }
      &.file-field {
        label.image-icon {
          cursor: pointer;
          font-size: 1.2rem;
          &:hover {
            font-size: 1.5rem;
          }
          input.selected-file {
            display: none;
          }
        }
      }
    }
    .btn.btn-primary {
      margin-top: .5rem;
    }
  }
}