// Bootstrap
@import "bootstrap";

// FantAwesome
@import "font-awesome-sprockets";
@import "font-awesome";

// utilities
@import "color-list";
@import "layouts";

// view
// layouts
@import "scopes/layouts/header";
@import "scopes/layouts/footer";

// shared
@import "scopes/shared/error_messages";
@import "scopes/shared/button_linked_create_post";
@import "scopes/shared/select_image_file";

// home
@import "scopes/home/top";
@import "scopes/home/useful_pages";

// users
@import "scopes/users/new";
@import "scopes/users/show";
@import "scopes/users/edit";

// post
@import "scopes/posts/index";
@import "scopes/posts/new";
@import "scopes/posts/show";

// sessions
@import "scopes/sessions/new";

// password_resets
@import "scopes/password_resets/new";
@import "scopes/password_resets/edit";

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
  background-color: #eaeaea;
}

html {
  font-size: 62.5%;
  body {
    font-size: 1.6em;
    .wrapper {
      min-height: 100vh;
      position: relative;
      padding-bottom: 50px;
      box-sizing: border-box;
    }
  }
}
