// Bootstrap
@import "bootstrap";

// layouts
@import "scopes/layouts/header";
@import "scopes/layouts/footer";

// shared
@import "scopes/shared/error_messages";

// users
@import "scopes/users/new";
@import "scopes/users/show";
@import "scopes/users/edit";

// post
@import "scopes/posts/index";

// sessions
@import "scopes/sessions/new";

// password_resets
@import "scopes/password_resets/new";
@import "scopes/password_resets/edit";

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
  background-color: #eaeaea;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 40px;
}
